.userName{
  padding-right: 1%;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 20px; */
  scale: 1.03;
}

.about-description {
  flex: 1;
  padding: 20px;
}

.about-description h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-image {
  flex: 1;
  padding: 20px;
}

.about-image img {
  max-width: 100%;
  height: auto;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: 'Lato', sans-serif;
}

.popup-content {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 80%; /* Adjust the maximum width as needed */
  width: 600px; /* Set a fixed width for the popup */
  padding: 20px;
  position: relative;
}

.popup-content img {
  max-width: 100%; /* Ensure the image does not exceed the width of the container */
  height: auto;
}

.popup-content p {
  margin-top: 10px;
  font-size: 16px;
  text-align: justify;
}

.popup-content button {
  position: absolute;
  top: -5px;
  right: -0px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #2c6905;
}
.popup-content button:hover {
  text-decoration: line-through;
}
.mappage{
  width: 90%;
  height: 660px;
  padding: 2%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(2px);
}
/* MapImage */
.card{
  position: absolute;
  padding: 2px;
  z-index: 100;
  width: 35%;
  height: 35%;
  left: 20%;
  bottom: 10%;  
  transform: translateX(-30%);
}
.card-header{
  font-family: 'Montserrat', sans-serif;
}
.card-body{
  font-family: 'Lato', sans-serif;
}
.poster{
  position: absolute;
  z-index: 100;
  scale: 0.5;
  right: 0%;
  top: 0%;
}
/* CSS */
.button-27 {
  appearance: none;
  background-color: #cd8a2d;
  border: 2px solid #000000;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 40px;
  min-width: 0;
  outline: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  position: relative;
  bottom: 5%;
}
.button-27:disabled {
  pointer-events: none;
}
.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}
.Stepline{
  position: absolute;
  top: 63%;
  z-index: -1;
  /* transform-origin: center; */
}
a{
  text-decoration: none;
  font-weight: 500;
}
.garbagetruck {
  position: fixed;
  bottom: -56%;
  height: 500px;
  left: 0%;
  opacity: 1; /* Use 1 for full opacity */
  z-index: 100;
}

@media (max-width: 480px) {
  .card{
    width: 65%;
    height: 45%;
    left: 15%;
    top: 35%;
    transform: translateX(-10%);
  }
  .card-body{
    font-size: 14px;
    text-align: justify;
  }
  .poster{
    width: 80%;
    top: 48%;
    left: 39%;
  }
  .about-container {
    flex-direction: column;
    padding: 10px;
  }

  .about-description {
    padding: 10px;
  }

  .about-description h2 {
    font-size: 20px;
  }

  .about-image {
    padding: 10px;
  }
  .Stepline{
    transform: rotate(90deg);
    top: 45%;
    width: 600px;
  }
  .process-text{
    font-size: 14px;
  }
}
.credititem{
  display: flex;
  flex-direction: column;
  justify-content:  space-between;
  padding-top: 2%;
  /* padding-: 2%; */
  /* max-width: 100%; */
  /* align-items: center; */
}
.popup{
  width: 20%;
  height: auto;
  position: absolute;
  left: 40%;
  bottom: 80%;
}
.popuptext{
  display: flex;
  justify-content: center;
}
.no-data-popup {
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  /* backdrop-filter: blur(10px); */
  backdrop-filter: blur(10px); /* The blur amount can be adjusted */
 
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 1000; /* Ensure the pop-up is in front of the blurred background*/
}

.no-data-popup p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.no-data-popup button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.no-data-popup button:hover {
  background-color: #0056b3;
}
